{% block content %}
    <a href="admin/card"><input type="submit" value="Оформление карт"></a>
    <a href="admin/credit"><input type="submit" value="Оформление кредитов"></a>
    <a href="admin/consult"><input type="submit" value="Закрыть консультацию"></a>
{% endblock content %}