{% extends "index.jinja2" %}
{% block css %}<link rel="stylesheet" href="../static/css/main.css">{% endblock css %}

{% block content %}
<div>
  <h1>Очередь на получение кредитов</h1>
  <div class="post_registration">
      <div class="tables">
        <table>
        {% for record in list_queue %}
            <tr>
              <td>{{ record.id }} —</td>
              <td>{{ record.time.strftime("%H:%M") }}</td>
            </tr>
        {% endfor %}
        </table>
      </div>
  </div>
    <div class="registration">
      <h1>Оформить кредит</h1>
      <form action="/admin/close_credit">
        <p><input type="text" name="id" placeholder="Введите id обслуженного клиента"></p>
        <p><input type="text" name="name" placeholder="Введите имя обслуженного клиента"></p>
        <p><input type="text" name="sum" placeholder="Введите сумму кредита"></p>
        <p><input type="text" name="per" placeholder="Введите процент кредита"></p>
        <p><input type="text" name="val" placeholder="Введите срок погашения"></p>
        <p><input type="submit" value="Оформить кредит"></p>
      </form>
    </div>
    <div class="post_registration">
    <h1>Выданные кредиты</h1>
      <div class="tables">
        <table>
        <tr>
          <td> Имя </td>
          <td> Сумма </td>
          <td> Процент </td>
          <td> Срок </td>
        </tr>
        {% for record in list_credits %}
            <tr>
              <td>{{ record.client_id }} </td>
              <td>{{ record.amount }}</td>
              <td>{{ record.percent }}</td>
              <td>{{ record.validity }}</td>
            </tr>
        {% endfor %}
        </table>
      </div>
  </div>
</div>

{% endblock content %}