{% block content %}
<div class="content">
  <form action="/register" method="POST">
  <p>Выберите услугу</p>
    <div>
        <input type="radio" name="service" id="service-card" value="0">
        <label for="service-card">Карты и счета</label>
    </div>
    <div>
        <input type="radio" name="service" id="service-credit" value="1">
        <label for="service-credit">Кредиты</label>
    </div>
    <div>
        <input type="radio" name="service" id="service-consult" value="2">
        <label for="service-consult">Консультация</label>
    </div>
    <p><input type="submit" value="Встать в очередь"></p>
  </form>

  {% if try %}
      {% if success %}
        <p class="response">Ваш номер: {{ record.id }}</p>
        <p class="response">Ваше время: {{ record.time.strftime("%H:%M") }}</p>
          <p class="response">Ваше место в очереди: {{ number }}</p>
      {% else %}
        <p class="response">Записи на сегодня нет.</p>
      {% endif %}
  {% endif %}

  {% for list in lists %}
      <table border="1px">
      {% for record in list %}
          <tr>
          <td>{{ record.id}}</td>
          <td>{{ record.time.strftime("%H:%M") }}</td>
          </tr>
      {% endfor %}
      </table>
      <br>
  {% endfor %}

  <form action="/" method="GET">
      <input type="submit" value="Обновить">
  </form>

</div>
{% endblock content %}